<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>
    <main>
      တို့ဗမာဟေ့ တို့ဗမာ
      
      <form action="/create-event" method="GET">
        <button type="submit">Create Event</button>
    </form>
        </main>
      <%- include('./partials/footer.ejs') %>
</body>
</html>
