@tailwind base;
@tailwind components;
@tailwind utilities;

img{
  max-height: 100%;
}

input, textarea, select {
  @apply border-2 border-gray-300 rounded-md px-1 w-full;
  @apply mb-2
}

input:focus, textarea:focus, select:focus{
  @apply border-blue-900;
}

h1 {
  @apply text-green-900 mb-2 text-xl
}

label{
  @apply text-green-900;
}

.btn-primary{
  @apply bg-green-900 text-white px-4 py-1 rounded-md;
}

table.basic {
  @apply w-full my-5;
}

table.basic thead tr td {
  @apply bg-green-200
}

table.basic tr td{
  @apply border border-gray-300 p-1;
}

table.basic a {
  @apply bg-green-900 text-white text-sm py-1 rounded-md px-1 inline-flex gap-1 mr-2;
}

.btn-default, .btn-red {
  @apply px-4 py-1 rounded-md;
}

.btn-red {
  @apply bg-red-800 text-white;
}

.btn-default {
  @apply bg-gray-500 text-white;
}
/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
